/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS reset END */

*,*:before,*:after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto ;
}

/* RWD reset END */

body{
    font-family: 微軟正黑體;
    font-weight: bold;
}

.wrap{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* 內元件上下排列 */
}

.fanpage{
	display: flex;
	flex-direction: row;
	justify-content: flex-end; /* 內元件置右排列 */
    background-color: #f6f6f6;
    a{
        display: flex;
        flex-direction: row;
        align-items: center; /* 內元件垂直置中 */

        padding: 10px;
        text-decoration: none;
    }
    span{
        margin-left: 5px;
    }
    img{
        width: 14px;
    }
}

@media (max-width: 767px){
    .fanpage{
        order: 3; /* 變767px時，fanpage要放在最下面 */
        justify-content: center; /* 變767px時，內元件水平置中排列 */
        margin-top: 10px;
    }

}

.facebook{
    span{
        color: #4460a0;
    }
}

.twitter{
    span{
        color: #00aaec;
    }
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* 內元件要置最左最右 */
    padding: 20px;
    box-shadow: 1px 1px 5px gray;
}

@media (max-width: 767px){
    .header{
        order: 1; /* 變767px時，header要放在最上面 */
        flex-direction: column;
        align-items: center; /* 內元件要水平置中 */
    }
}

.logo h1 a{
	/* for SearchEngine */
	background-image: url("https://misado.github.io/Practice/Flex/hw0512_hw4/img/logo_green.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 171px;
	height: 36px;
	display: block;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center; /* 內元件要垂直置中 */
    a{
        padding: 20px;
        text-decoration: none;
        color: #00cc99;
        font-size: 18px;
        &:hover{
            border-bottom: 5px solid #00cc99;
        }
    }
}

@media (max-width: 767px){
    .navbar{
        width: 70%;
        margin: 10px 15%;
        flex-wrap: wrap;
        li{
            width: 40%;
            margin: 0 5%;
            height: 70px;

            display: flex;
            justify-content: center;  /* 變767px時，內元件要水平置中 */
        }
        a{
            width: 100%;

            display: flex;
            justify-content: center; /* 變767px時，內元件(文字)要水平置中 */

            font-size: 24px;
            white-space: nowrap;
        }
    }
}

@media (max-width: 413px){
    .navbar{
        li{
            width: 100%;
            margin: 0;
        }
    }
}

.content{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

@media (max-width: 767px){
    .content{
        order: 2; /* content要放在header的下面 */
        flex-direction: column; /* 變767px時，內元件要變成垂直排列 */
    }
}


.item{
    width: 31.33333%;
    margin: 0 1%;
    display: flex;
    flex-direction: column; /* 內元件上下排列 */
    align-items: center; /* 內元件水平置中排列 */
    padding: 20px;
    box-shadow: 1px 1px 5px gray;
    h2{
        font-size: 20px;
        margin-bottom: 20px;
    }
    p{
        line-height: 2em;
        text-align: justify;
    }
    &:hover{
        box-shadow: 3px 3px 5px orange;
    }
}

@media (max-width: 767px){
    .item{
        width: 90%;
        margin: 0 5%;
        padding: 5%;
        h2{
            font-size: 24px;
        }
        p{
            font-size: 18px;
            font-weight: normal;
        }
    }
}

/* jQuery 區塊因為有ul li，要特別處理 */
.feature{
    align-self: flex-start; /* ul裡的li要置左排列 */
    li{
        list-style-type: disc;
        list-style-position: inside;
        margin: 1em 0;
        white-space: nowrap;
    }
}

@media (max-width: 767px){
    .feature{
        li{
            font-size: 18px;
            font-weight: normal;
        }
    }
}